@using Doan1.Models;
@using Doan1.Areas.Admin.Models;
@model IList<Oder>;
@{
    List<Account> account = ViewBag.Account;
}

<main id="main" class="main">
    <div class="Pagetitle">
        <h2>Đơn hàng bị hủy</h2>
    </div>


    <section class="section dashboard">
        <div class="row">
            <div col-12>
                <div class="card recent-sales overflow-auto">
                    <div class="card-boy mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th class="col-1 text-center">Mã đơn hàng</th>
                                    <th class="col-3 text-center">Tên khách hàng</th>
                                    <th class="col-1 text-center">Ngày tạo</th>
                                    <th class="col-1 text-center">Tổng tiền</th>
                                    <th class="col-2 text-center">Chức Năng</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    Account? ac = account.FirstOrDefault(a => a.AccountId == item.AccounId);
                                    <tr>
                                        <td>
                                            <a asp-area="Admin" asp-controller="Menu" asp-action="Details"
                                               asp-route-id="@item.OderId" class="text-primary">@item.Code</a>
                                        </td>
                                        <td class="text-center">@ac.UserName</td>
                                        <td class="text-center">@item.CreateDate</td>
                                        <td class="text-center">@item.Total</td>
                                        <td class="text-center">
                                            <a asp-area="Admin" asp-controller="Oder" asp-action="Details"
                                               asp-route-id="@item.OderId" class="btn btn-primary btn-sm"
                                               title="Xem chi tiết ">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </section>
</main>