@using Doan1.Models;
@using Doan1.Ulitities;
@model IList<Blog>
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Blog</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            @foreach (var post in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic large__item set-bg" data-setbg="@post.Image"></div>
                        <div class="blog__item__text">
                            <h6><a asp-controller="Blog" asp-action="Details" asp-route-id="@post.PostID">@post.Title</a></h6>
                            <ul>
                                <li>by <span>@post.CreatedBy</span></li>
                                <li>@post.CreatedDate</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

<!-- Blog Section End -->